<%= form_for(@bookmark) do |f| %>
  <% if @bookmark.errors.any? %>
    <div>
      <h2><%= pluralize(@bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>

      <ul>
      <% @bookmark.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :url%><br />
    <%= f.text_field :url %>
  </div>
  <div>
    <%= f.label :site %><br />
    <%= f.text_field :site_name %>
  </div>
  <div>
    <%= f.label :date_saved %><br />
    <%= f.text_field :date_saved %>
  </div>
  <div class = "actions">
    <%= f.submit %>
  </div>
<% end %>
